**/.DS_Store
.vscode
.idea
__pycache__/
.coverage
/htmlcov/
cov.xml
coverage.xml
UNKNOWN.egg-info/
dist/
creds.sh
init
.python-version
node_modules
.env
namer/web/public/assets
namer/web/templates
tools
