[tool.poetry]
name = "namer"
version = "1.3.4"
description = "A namer of video files based on metadata from the porndb."
readme = "readme.rst"
authors = ["4c0d3r <4c0d3r@protonmail.com>"]
include = ["**/web/public/assets/**/*", "**/web/templates/**/*"]

[tool.poetry.dependencies]
python = "^3.8"
rapidfuzz = "^2.0.5"
watchdog = "^2.1.6"
pathvalidate = "^2.5.0"
requests = "^2.27.1"
mutagen = "^1.45.1"
lxml = "^4.8.0"
schedule = "^1.1.0"
loguru = "^0.6.0"
Unidecode = "^1.3.4"
flask = "^2.1.2"
jinja2 = "^3.1.2"
waitress = "^2.1.1"
Flask-Compress = "^1.12"

[tool.poetry.dev-dependencies]
pytest = "^7.0.0"
pytest-cov = "^3.0.0"
coverage = "^6.3.2"
flakeheaven = "^0.11.1"

[tool.flakeheaven]
exclude = [".git", "__pycache__", "docs/source/conf.py", "old", "build", "dist", "*migrations*", "init"]
format = "colored"
show_source = false
max_line_length = 150

[tool.flakeheaven.plugins]
mccabe = ["+*"]
pycodestyle = ["+*", "-E501", "-E722"]
pyflakes = ["+*"]
pylint = ["+*", "-C0301", "-I1101" ]

[tool.pylint.'MASTER']
extension-pkg-allow-list = ["lxml"]
max-line-length = 150

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
