{% extends "partials/base.html" %}
{% block title %}Queued files{% endblock %}
{% set active_page = "queue" %}
{% block content %}
    <div class="row mb-1">
        <h5 class="card-title col">Queued Files</h5>
        <div class="col">
            <button id="refreshFiles" type="button" class="btn btn-secondary float-end ms-1" data-target="files" title="Refresh">
                <i class="bi bi-arrow-clockwise"></i>
            </button>
            <div id="tableButtons" class="float-end ms-1"></div>
        </div>
    </div>
    <div class="card-text">
        <div id="filesResult">
            {% include 'render/failedFiles.html' %}
        </div>
    </div>
{% endblock %}
