{% extends "partials/base.html" %}
{% block title %}Queued files{% endblock %}
{% set active_page = "queue" %}
{% block content %}
    <h5 class="card-title d-flex justify-content-between align-items-center">
        Queued Files
        <button id="refreshFiles" type="button" class="btn btn-secondary ms-1" data-target="queue">
            <i class="bi bi-arrow-clockwise"></i>
        </button>
    </h5>
    <div class="card-text">
        <div id="filesResult">
            {% include 'render/failedFiles.html' %}
        </div>
    </div>
{% endblock %}
