<!DOCTYPE html>
<html lang="en" data-bs-theme="{{ theme }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{% endblock %} - Namer</title>
    <meta name="apple-mobile-web-app-title" content="Namer">
    <meta name="application-name" content="Namer">
    <meta name="msapplication-TileColor" content="#0a182f">
    <meta name="theme-color" content="#0a182f">
    <link href="{{ url_for('static', filename='assets/bundle.min.css') }}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#ee1b7d">
</head>
<body>
<div class="container-lg">
    <div class="card mt-2 shadow-sm">
        <div class="card-header">
            {% include 'components/navigations.html' %}
        </div>
        <div class="card-body">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% block external %}{% endblock %}
<script src="{{ url_for('static', filename='assets/bundle.min.js') }}"></script>
</body>
</html>
