<div class="row row-cols-auto justify-content-center">
    {% set phash_distance_list = data['data']['results']|rejectattr('phash_distance', 'none')|selectattr('phash_distance', '<=', 8)|list %}
    {% set name_match_list = data['data']['results']|selectattr('name_match', '>=', 80)|list  %}

    {% set results = (phash_distance_list + name_match_list)|list %}
    {% if results %}
        {% for file in results %}
            <div class="col m-1 mb-2">
                {% include 'components/cardLog.html' %}
            </div>
        {% endfor %}
    {% else %}
        <div class="col m-1 text-center">
            <span>No results found</span>
        </div>
    {% endif %}
</div>
