<div class="row row-cols-auto justify-content-center">
    {% set results = [] %}
    {% for item in data['data']['results'] %}
        {% if item['name_match'] >= 80 or (item['phash_distance'] is not none and item['phash_distance'] <= 8) %}
            {% do results.append(item) %}
        {% endif %}
    {% endfor %}

    {% if results %}
        {% for file in results %}
            <div class="col m-1 mb-2">
                {% include 'components/card.html' %}
            </div>
        {% endfor %}
    {% else %}
        <div class="col m-1 text-center">
            <span>No results found</span>
        </div>
    {% endif %}
</div>
