<div class="card h-100" style="width:11.5rem">
    {% if file['tags_count'] %}
        <span class="position-absolute start-100 translate-middle badge rounded-pill bg-secondary">{{ file['tags_count'] }}</span>
    {% endif %}
    <img class="card-img-top" src="{{ file['poster'] }}" alt="{{ file['title'] }}">
    <div class="card-body">
        <h5 class="card-title">{{ file['title'] }}</h5>
        <p class="card-text">{{ file['site'] }}</p>
        <p class="card-text">
            <small class="text-muted">{{ file['date'] }}</small>
        </p>
        {% with key = 'gender' %}
            {% include 'components/performersBadges.html' %}
        {% endwith %}
    </div>
    <div class="card-footer">
        <a href="https://metadataapi.net/scenes/{{ file['id'] }}" class="btn btn-secondary" target="_blank">Show</a>
        <button class="btn btn-primary float-end rename" data-bs-dismiss="modal" data-scene-id="{{ file['id'] }}" data-file="{{ data['file'] }}">
            Select
        </button>
    </div>
</div>
