<div class="card h-100" style="width:11.5rem">
    {% if file['tags_count'] %}
        <span class="position-absolute start-100 translate-middle badge rounded-pill bg-secondary">{{ file['tags_count'] }}</span>
    {% endif %}
    <img class="card-img-top" src="{{ file['poster'] }}" alt="{{ file['title'] }}">
    <div class="card-header text-center p-0">{{ file['type'] }}</div>
    <div class="card-body">
        <h5 class="card-title">{{ file['title'] }}</h5>
        {% if file['network'] %}
            <p class="card-text mb-1">{{ file['site']  }}</p>
            <p class="card-text">{{ file['network'] }}</p>
        {% else %}
            <p class="card-text">{{ file['site']  }}</p>
        {% endif %}
        <p class="card-text">
            <small class="text-muted">{{ file['date'] }}</small>
        </p>
        {% include 'components/performersBadges.html' %}
    </div>
    <div class="card-footer">
        <a href="https://metadataapi.net/{{ file['id'] }}" class="btn btn-secondary" target="_blank">Show</a>
        <button class="btn btn-primary float-end rename" data-bs-dismiss="modal" data-scene-id="{{ file['id'] }}" data-file="{{ data['file'] }}">
            Select
        </button>
    </div>
</div>
