on:
  push:
    branches: [main]

jobs:
  tag-new-versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Set up Python
        uses: actions/setup-python@v3.0.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Display Python version
        run: python --version
      - name: install poetry
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: '1.1.13'
      - uses: salsify/action-detect-and-tag-new-version@v2
        with:
          version-command: |
            poetry version -s
