name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:  
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [ '3.8', '3.9', '3.10' ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Display Python version
        run: python --version
      - name: install poetry
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: '1.1.13'
      - uses: FedericoCarboni/setup-ffmpeg@v1
        id: setup-ffmpeg
      - run: poetry install
      - run: poetry run pytest

  pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Display Python version
        run: python --version
      - name: install poetry
        uses: abatilo/actions-poetry@v2.0.0        
        with:
          poetry-version: '1.1.13'
      - run: poetry install
      - run: poetry run pylint namer
        shell: bash

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Display Python version
        run: python --version
      - uses: FedericoCarboni/setup-ffmpeg@v1
        id: setup-ffmpeg
      - name: install poetry
        uses: abatilo/actions-poetry@v2.0.0        
        with:
          poetry-version: '1.1.13'  
      - run: poetry install
      - run: poetry run pytest --cov
      - run: poetry run coverage xml
      - uses: codecov/codecov-action@v2
        with:
          files: ./coverage.xml
          name: unittest
          fail_ci_if_error: true
          verbose: true

  dockerbuild:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: ./docker_build.sh
